{% extends "base.html" %}
{% block content %}
  <div class='post'>
    <div class='post__title'>{{post.subject}}</div>
    <div class='post__options --smaller-text'>
      <button type="submit" onclick="{{act_edit}}" >Edit</button>
      <button type="submit" onclick="{{act_del}}" >Delete</button>
      {% if '%d'%id in likes %}
      <button class='--red-text' type="submit" onclick="{{act_like}}" >&lt;3</button>
      {% else %}
      <button type="submit" onclick="{{act_like}}" >&lt;3</button>
      {% endif %}
    </div>
    <div class='post__time --smaller-text'>{{post.created.date()}}</div>
    <hr>
    <pre class='post__body --smaller-text'>{{post.content}}</pre>
  </div>
  <button type="submit" onclick="window.location='/comment?id={{id}}';" >Comment</button>
{% for c in comments %}
  <div class='comment --silver-cmnt'>
    <div class='comment__title --larger-text'>{{c.user}}:</div>
    <div class='comment__time'>{{c.created.date()}}</div>
    <div class='comment__options --smaller-text'>
    {% if not name %}
      <button type="submit" onclick="window.location='/login';" >Edit</button>
      <button type="submit" onclick="window.location='/login';" >Delete</button>
    {% elif name == c.user %}
      <button type="submit" onclick="window.location='/comment?id={{c.key().id()}}'" >
        Edit
      </button>
      <button type="submit" onclick="window.location='/delete?id={{c.key().id()}}'" >
        Delete
      </button>
    {% else %}
      <button type="submit" onclick="alert('Action not allowed.')" >Edit</button>
      <button type="submit" onclick="alert('Action not allowed.')" >Delete</button>
    {% endif %}
    </div>
    <div class='comment__body --smaller-text'>{{c.content}}</div>
  </div>
{% endfor %}
{% endblock %}
