{% extends "base.html" %}
{% block content %}
  <div class='post'>
    <div class='post__title'>{{post.subject}}</div>
    <div class='post__options --smaller-text'>
      <button type="submit" onclick="{{act_edit}}" >Edit</button>
      <button type="submit" onclick="{{act_del}}" >Delete</button>
      <button type="submit" onclick="{{act_like}}" >&lt;3</button>
    </div>
    <div class='post__time --smaller-text'>{{post.created.date()}}</div>
    <hr>
    <p class='post__body --smaller-text'>{{post.content}}</p>
  </div>
  <button type="submit" onclick="window.location='/comment?id={{id}}';" >Comment</button>
{% for c in comments %}
  <div class='comment --silver-cmnt'>
    <div class='comment__title --larger-text'>{{c.user}}:</div>
    <div class='comment__time'>{{c.created.date()}}</div>
    <div class='comment__body --smaller-text'>{{c.content}}</div>
  </div>
{% endfor %}
{% endblock %}
